<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>This is Add-contact-form</title>
</head>
<body>
	<section>
		<div class="card mr-5 ml-4" >
			<div class="card-body">
				<h1 class="text-center">Add Contact</h1>
				
				<div class="container-fluid mt-1">
					<div class="row">
							
						<div class="col-md-10 offset-md-1">
							<form action="#"
							      th:object="${contact}"
							      enctype="multipart/form-data"
							      method="POST"
							      th:action="@{/user/process-contact}"
							      class="mt-2"
							>
							<!-- First element of form -->
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
										 	<i class="fa fa-plus"></i>
										
										</div>
									</div>
									
									<input required type="text" id="firstName" name="name" placeholder="Enter First Name here" class="form-control" />
									
								</div>
								
								<!-- Second element of form -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
										 	<i class="fa fa-plus"></i>
										
										</div>
									</div>
									
									<input required type="text" id="secondName" name="secondName" placeholder="Enter Second Name here" class="form-control" />
									
								</div>
							<!-- for phone number -->
							
							<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
										 	<i class="fa fa-phone"></i>
										
										</div>
									</div>
									
									<input required  type="number" id="phone" name="phone" placeholder="Enter Phone Number here" class="form-control" />
									
								</div>
							
							<!-- Email feild -->
							<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
										 	@
										
										</div>
									</div>
									
									<input required type="email" id="email" name="email" placeholder="Enter Email here" class="form-control" />
									
								</div>
							<!-- Work Field -->
							
							<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
										 	<i class="fa fa-briefcase"></i>
										
										</div>
									</div>
									
									<input type="text" id="work" name="work" placeholder="Enter Work here" class="form-control" />
									
							</div>
							
							<!-- Contact DEscription -->
							
							
							<div class="form-group mt-3">
								<textarea name="description" id="mytextarea" cols="30" rows="6" class="form-control" placeholder="Enter your decription here"></textarea>
							</div>
							
							<div class="custom-file">
									<input type="file" name="profileImage" />
							</div>
							
							<div class="conntainer text-center">
								<button class="btn btn-outline-primary">Save Contact</button>
							</div>
							
							
							</form>
						
						</div>
					
					</div>
				
				
				</div>
			
			
			
			
			</div>
		
		
		</div>
		
	
		
	</section>
	
	
	
	
</body>
</html>