<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>This is Add-contact-form</title>
</head>
<body>
	<section>
		<div class="card mr-3 ml-2">
		
		<div class="card-body">
		
		<!-- Search -->
		
		<div class="search-container my-3" style="position: relative;">
	    		
	    		
	    		<input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="Search your contact" />
		
				<div class="search-result" style="position:absolute; background: white; width: 100%; padding: 10px; border: 1px solid gray; display: none;">
				
				
					<h2>This is Seach result</h2>
				
				</div>
		
		</div>
		
		<h1 class="text-center">Your Contacts</h1>
		
		 <div class="table-responsive">
				<table class="table table-hover ">
				  <thead class="thead-dark">
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Name</th>
				      <th scope="col">Email</th>
				      <th scope="col">Phone</th>
				      <th scope="col">Action</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="c : ${contacts}">
				      <th scope="row" th:text="${c.cId}">1</th>
				      <td>
				      <img src="" style="width:30px; height:30px; object-fit:cover; border-radius:50%" class="my_profile_picture" th:src="@{'/images/'+${c.image}}" alt="profile pic">
				      <span th:text="${c.name}"></span></td>
				      <td>
				      
				      <a href="#" th:href="@{'/user/'+${c.cId}+'/contact'}">
				      <span th:text="${c.email}"></span></a></td>
				      <td th:text="${c.phone}">@mdo</td>
				      <td>
				     <a href="#" th:onclick="|deleteContact(${c.cId})|" class="btn btn-danger btn-sm">Delete</a>
				     
				    <form method="post" th:action="@{'/user/update-contact/'+${c.cId}}" class="mt-2"> 
				     
				     <button type="submit" class="btn btn-primary btn-sm">Update</button>
				    </form>
				    
				    	</td>
				    </tr> 
				  </tbody>
				</table>
				</div>
				<nav aria-label="Page navigation example">
					  <ul class="pagination">
					    <li th:if="${currentPage!=0}" class="page-item"><a class="page-link" href="#" th:href="@{'/user/show-contacts/'+${currentPage-1}}">Previous</a></li>
					    <li th:classappend="${currentPage==i-1?'active':''}"  th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a class="page-link" th:href="@{'/user/show-contacts/'+${i-1}}" href="#"><span th:text="${i}"></span></a></li>
					    <li th:if="${currentPage+1!=totalPages}" class="page-item"><a class="page-link" href="#" th:href="@{'/user/show-contacts/'+${currentPage+1}}">Next</a></li>
					  </ul>
				</nav>
					
		</div>
		
		
		</div>
	
	</section>
</body>
</html>