<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>This is User DashBoard</title>
</head>
<body>
	<section>
		<div class="card mr-5 ml-5 mt-5 ">
			<div class="card-body ">
			  <div class="container text-center">
		      <img src="" style="width:250px; height:250px; object-fit:cover; border-radius:50%" class="my_profile_picture" th:src="@{'/images/Yugant_Dp.png'}" alt="profile pic">
			</div>
			<h1 class="text-center mt-3">Yugant Dhoble Welcome's You</h1>
			<h1 class="text-center text-secondary font-italic font-weight-light"> Start Adding Your contact on cloud</h1>
			
			</div>
		</div>
	
	
</section>
</body>
</html>